.section__contact{
    background: var(--background-contact-section);
    
}

.contact-main__section{
    margin: 0px 25px 15px 15px;
    padding: 25px 0;
    margin: auto;
}
.contact-section__heading{
    color: var(--main-title-color);
    font-size: 42px;
    font-family: var(--font-header-title);
    padding-left: 15px;
    padding: 20px;
}
.contact-section__subheading{
    font-size: 14px;
    color: var(--section__subheading-color);
    font-weight: 700;
    font-family: var(--font-family);
    padding-left: 10px;
}
.section-card__price-description{
    color: var(--main-title-color);
    size: 18px;
    font-family: var(--font-family);
    padding-bottom: 20px;
    padding-left: 30px;
}
.contact__map{
    width: 360px;
    height: 700px;
    margin: auto;
}
.frame-contact__map{
    height: 100%;
    width: 100%;
}
.contact__inputs, .contact__textarea{
    width: 90%;
    font-size: 14px;
    font-family: var(--font-family);
    display: block;
    border: 0;
    background-color: var(--background-contact-section);
    padding: 14px 26px 14px 26px;
    color: var(--color-header-location);
    font-weight: 700;
    margin: 12px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0px;
    border-color: var( --background-contacts-header);
}
.contact__textarea{
    resize: none;
}
.contact__btn{
    width: 85%;
    height: 40px;
    margin: 50px 0px 0px 25px;
    font-family: var(--font-family);
    font-weight: 700;
    border: 0;
    background-color: var(--icons-color);
    color: var(--main-title-color);
}   
.contact__slider > img{
    width: 270px;
    padding: 15px;
}
@media (min-width:750px){
    .contact__form{
        display: flex;
        margin: auto;
        padding-top: 100px;
    }
    .contact-main__section{
        width: 665px;
        margin-right: 0px;
    }
    .contact__map{
        width: 600px;
        height: 700px;
        margin: auto;
        margin-left: 0px;
    }
}
@media (min-width:600px){
    .contact__map{
        width: 500px;
    }
}