.why{ 
    background-color: var(--background-contact-section);
    display: block;
    margin: auto;    
}
.why-text{
    max-width: 600px;
    display: auto;
}
.why-title-text{
    color: var(--main-title-color);
    font-family: var(--font-header-title);
    font-weight: 700;
    font-size: 42px;
    margin-top: 20px 0px 10px;
}
.why-small-text{
    color: var(--color-header-location);
    font-family: var(--font-family);
    font-size: 16px;
    margin-bottom: 25px;
}
.why-small-text-main{
    color: var(--color-header-location);
    font-family: var(--font-family);
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.why-small-text-bot{
    color: var(--color-header-location);
    font-family: var(--font-family);
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.history-block{
    background-image: url(../img/why/why-background.webp);
    max-width: 320px;
    min-width: 100px;
    height: 500px;
    text-align: center;
}
.history-block__title{
    color: var(--main-title-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-left: 35px;
}
.history-block__num{
    font-family: var(--font-header-title);
    font-size: 200px;
    font-weight: 700;
    font-weight: bold;
    color: var(--icons-color);
    padding-left: 35px;
}
.history-block__desc{
    font-family: var(--font-header-title);
    font-size: 22px;
    font-weight: 700;
    font-weight: bold;
    color: var(--icons-color);
    padding-left: 35px;
}
@media(min-width:750px){
    .why-section{
        max-width: 1200px;
        display: flex;
        margin: auto;
        padding-top: 100px;
    }
    .history-block{
        padding-left: 50px;
        min-width: 400px;
        height: 600px;
        margin-left: 40px;
    }
    .history-block__num, .history-block__title, .history-block__desc{
        padding: 0;
    }

}