.work-meet-enjoy{
    background-color: var(--background-contact-section);
}
.section__work-description{
    color: var(--color-header-location);
    font-family: var(--font-family);
    font-size: 16px;
    max-width: 600px;
}
.section__work-description p{
    margin: 50px 0px 30px 0px;
}
.section__work-text{
    max-width: 1200px;
    display: block;
    margin: auto;
    grid-template-columns: 1fr;
    padding-bottom: 130px;
}
.section-work-meet-enjoy__title{
    max-width: 1200px;
    margin: auto;
    padding-top: 70px;
}
@media(min-width:850px){
    .section__work-text{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section__work-description{
        padding-right: 40px;
    }
    .work-meet-enjoy{
        padding-top: 100px;
    }
}